<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <section>
            <h1><%= title %></h1>
            <p>
                <a href="/a-sso/login">Login</a>
                <a href="/a-sso/logout">Logout</a>
            </p>
        </section>
    </body>
</html>
